<mat-card (click)="routeToUrl()">


  <div *ngIf="notification.newRoute">
    <mat-grid-list cols=6 rowHeight="15px" guttserSize="0px">
      <mat-grid-tile colspan="1" rowspan="2">
        <mat-icon>directions_car</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="1">
        <strong class="align-left">Dodano nowy przejazd!</strong>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-icon class="small-icon" matTooltip="Usuń powiadomienie" matTooltipPosition="right">delete</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="1">
        <div class="align-left">
          {{notification.newRoute.from.name}} -> {{notification.newRoute.to.name}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-icon class="small-icon" matTooltip="Oznacz jako przeczytane" matTooltipPosition="right">
          check_circle</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
  <div *ngIf="notification.reservation">
    <mat-grid-list cols=6 rowHeight="15px" guttserSize="0px">
      <mat-grid-tile colspan="1" rowspan="2">
        <mat-icon>person_add</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="2">
        <strong class="align-left">Ktoś zarezerwował Twój przejazd!</strong>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-icon class="small-icon" matTooltip="Usuń powiadomienie" matTooltipPosition="right">delete</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-icon class="small-icon" matTooltip="Oznacz jako przeczytane" matTooltipPosition="right">
          check_circle</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-card>