mat-card {
    width: 150px;
    border-bottom: 1px solid gray;
    margin-top: 0px;
    margin-bottom: 2px;
    height: 60px;
    padding: 6px 6px 6px 10px;
    font-size: 12px;
    box-shadow: none !important;
}

mat-card:hover{
    background-color: rgb(233, 229, 229);
    transition: 0.25s all;
    cursor: pointer;
}