<mat-card>
  <mat-grid-list cols="8" rows="3" rowHeight="30px">
    <mat-grid-tile [colspan]="3">
      <div class="align-left">
        <h4>
          {{driver?.firstName}} {{driver?.lastName}}
        </h4>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" rowspan="3" class="borders">
      <h5>
        <strong>{{rideData?.departureTime | date:'EEEE, d MMMM - H:mm':'':'pl'}}</strong>
        <br/> {{rideData?.from}} -> {{rideData?.to}}
      </h5>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" rowspan="3">
      <div class="show-on-hover">
        <button mat-icon-button matTooltip="Skontaktuj się" matTooltipPosition="right">
          <mat-icon>phone_iphone</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Zarezerwuj" matTooltipPosition="right">
          <mat-icon>content_paste</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" rowspan="2">
      <img class="media-object" src="../../../assets/logo.png" height="64" width="64">
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>