<mat-card>
  <mat-grid-list cols="8" rows="2" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <img class="media-object" src="../../../assets/logo.png" height="64" width="64">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <div class="align-left">
        {{driver?.firstName}} {{driver?.lastName}}
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3">
      {{rideData?.departureTime | date:'EEEE, d MMMM - H:mm':'':'pl'}}
      <br/> {{rideData?.from}} -> {{rideData?.to}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <!-- empty -->
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <div class="align-left">
        Skontaktuj się
        <br/>Zarezerwuj
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="5 ">
      <!-- empty -->
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<hr/>
