<mat-card>
  <mat-grid-list cols="8" rows="3" rowHeight="30px">
    <mat-grid-tile [colspan]="2">
      <div class="align-left">
        <h4>
          {{rideData.driver?.firstName}} {{rideData.driver?.lastName}}
        </h4>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" rowspan="3">
      <div class="align-left">
        Skontaktuj się
        <br/>Zarezerwuj
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" rowspan="3">
      {{rideData.date | date:'EEEE, d MMMM - H:mm':'':'pl'}}
      <br/> {{rideData.from}} -> {{rideData.to}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" rowspan="2">
      <img class="media-object" src="../../../assets/logo.png" height="64" width="64">
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>