.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.spinner { 
    margin-top: 20px;
    display: flex;
}

mat-card {
    border-radius: 25px;
    width: 35%;
}
  
mat-card:hover {
    box-shadow: 0 10px 6px -6px black;
}


mat-grid-tile mat-chip-list {
    position: absolute;
    left: 0px;
    top: 5px;
}

.bottom-line {
    padding-bottom: 5px;
    border-bottom: 1px dashed gray;
}

mat-form-field {
    width: 200px !important;
}