.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}
  
.spinner { 
    margin-top: 20px;
    display: flex;
}

mat-card {
    border-radius: 25px;
    width: 35%;
}
  
mat-card:hover {
    box-shadow: 0 10px 6px -6px black;
}