<mat-card>
  <mat-grid-list cols="8" rows="8" rowHeight="32px" gutterSize="0px">
    <mat-grid-tile colspan="3" rowspan="8">
      <div class="align-vertically">
        <h6>
          <mat-icon class="icon-align">account_box</mat-icon>
          Dane właściciela
          <!--<mat-icon class="icon-align" class="small" *ngIf="userData?.gender===null">mdi-gender-transgender</mat-icon> mdi-gender-female mdi-gender-male-->
        </h6>
        <h5 *ngIf="(userData?.firstName!==null && userData?.lastName!==null)"> {{userData?.firstName}} {{userData?.lastName}} </h5>
        <h5 *ngIf="(userData?.firstName===null || userData?.lastName===null)"> Fake_name Fake_surname </h5>

        <h5> <mat-icon class="icon-align">stars</mat-icon> <strong>4.5/5.0</strong> </h5>

        <p class="smalltext" *ngIf="userData?.email===null" > <mat-icon class="icon-align" class="small">email</mat-icon> fake@email.ru </p>
        <p class="smalltext" *ngIf="userData?.email!==null"> <mat-icon class="icon-align" class="small">email</mat-icon> {{userData?.email}} </p>
        <p class="smalltext" *ngIf="userData?.phone===null"> <mat-icon class="icon-align" class="small">phone</mat-icon> 07008888 </p>
        <p class="smalltext" *ngIf="userData?.phone!==null"> <mat-icon class="icon-align" class="small">phone</mat-icon> {{userData?.phone}} </p>

        <p *ngIf="userData?.gender===null">Płeć: Nie podano</p>
        <p *ngIf="userData?.gender==='female'">Płeć: kobieta</p>
        <p *ngIf="userData?.gender==='male'">Płeć: meżczyzna</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1" class="border-bottom">
      <h4>
        <mat-icon class="icon-align">alarm</mat-icon>
        <strong *ngIf="routeDetails?.from.date!==null">{{routeDetails?.from.date | date:'EEEE, d MMMM - H:mm':'':'pl'}}</strong>
        <strong *ngIf="routeDetails?.from.date===null">{{ '2018-05-13T21:30:40+0000' | date:'EEEE, d MMMM - H:mm':'':'pl'}}</strong>
        <!-- Jest undefined, ale wylapuje to w .ts -->
      </h4>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="5">
      <div class="show-on-hover">
        <button mat-icon-button matTooltipShowDelay="100" matTooltip="Skontaktuj się" matTooltipPosition="right">
          <mat-icon>phone_iphone</mat-icon>
        </button>
        <button mat-icon-button matTooltipShowDelay="100" matTooltip="Zarezerwuj" matTooltipPosition="right">
          <mat-icon>content_paste</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Dodaj do ulubionych" matTooltipPosition="right">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Szczegóły" matTooltipPosition="right" (click)="redirectToRouteDetails()">
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="3">
      <img class="media-object" src="../../../assets/logo.png" height="64" width="64">
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <h5 class="text-truncate">
        <mat-icon class="icon-align">directions_car</mat-icon>
        {{routeDetails?.from?.city?.name}} &#10145; {{routeDetails?.to?.city?.name}}
      </h5>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="4">
      <h4>
        <strong>
          <p class="mediumtext">{{routeDetails?.price}} zł</p>
        </strong>
      </h4>

    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="2">
      <h6 class="text-truncate">
        <mat-icon class="icon-align">pin_drop</mat-icon>
        <strong>{{routeDetails?.from?.city?.name}}</strong>
        <span *ngIf="routeDetails?.from?.placeOfMeeting!==null">, ul. {{routeDetails?.from?.placeOfMeeting}} </span>
        <span *ngIf="routeDetails?.from?.placeOfMeeting===null">, ul. Krucza 44 </span>
        <br/>
        <mat-icon class="icon-align">pin_drop</mat-icon>
        <strong>{{routeDetails?.to?.city?.name}}</strong>
        <span *ngIf="routeDetails?.to?.placeOfMeeting!==null">, ul. {{routeDetails?.to?.placeOfMeeting}} </span>
        <span *ngIf="routeDetails?.to?.placeOfMeeting===null">, ul. Wiślana 60 </span>
      </h6>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="{{numberOfStops+1}}">
      <div *ngIf="routeDetails?.stops!==null">
        <h5> Przystanki: </h5>
        <p class="text-truncate" *ngFor="let stop of routeDetails?.stops">
          <mat-icon class="icon-align">pin_drop</mat-icon>
          <span *ngIf="stop!==null"> <strong> {{stop.city.name}} </strong>, ul. {{stop.placeOfMeeting}} </span>
          <span *ngIf="stop===null"> <strong> Fake_stop </strong>, ul. Fake_street 60 </span>
        </p>
      </div>
      <div *ngIf="routeDetails?.stops===null">
        <p> Brak przystanków po drodze. </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <h6 class="text-center" class="mediumtext">
        Miejsca:
        <strong>{{routeDetails?.numberOfOccupiedSeats}}/{{routeDetails?.numberOfSeats}}</strong>
      </h6>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
