<mat-card>
  <mat-grid-list cols="17" rowHeight="32px" gutterSize="0px">

    <mat-grid-tile colspan="2" rowspan="2">
      <img class="media-object" src="../../../assets/logo.png" height="64" width="64">
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="2">
      <h6 *ngIf="(userData?.firstName!==null && userData?.lastName!==null)">
        {{userData?.firstName}} {{userData?.lastName}}
      </h6>
      <h6 *ngIf="(userData?.firstName===null || userData?.lastName===null)">
        Fake_name Fake_surname
      </h6>
    </mat-grid-tile>

    <mat-grid-tile colspan="10" rowspan="1" class="border-bottom">
      <h4>
        <h5 class="text-truncate">
          <mat-icon class="icon-align">directions_car</mat-icon>
          {{routeDetails?.from?.city?.name}} &#10145; {{routeDetails?.to?.city?.name}}
        </h5>
      </h4>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="5">
      <div class="show-on-hover">
        <button mat-icon-button matTooltipShowDelay="100" matTooltip="Skontaktuj się" matTooltipPosition="right">
          <mat-icon>phone_iphone</mat-icon>
        </button>
        <button mat-icon-button matTooltipShowDelay="100" matTooltip="Zarezerwuj" matTooltipPosition="right">
          <mat-icon>content_paste</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Dodaj do ulubionych" matTooltipPosition="right">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Szczegóły" matTooltipPosition="right" (click)="redirectToRouteDetails()">
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="10" rowspan="2">
      <h5>
        <mat-icon class="icon-align">alarm</mat-icon>
        <strong *ngIf="routeDetails?.from.date!==null">{{routeDetails?.from.date | date:'EEEE, d MMMM - H:mm':'':'pl'}}</strong>
        <strong *ngIf="routeDetails?.from.date===null">{{ '2018-05-13T21:30:40+0000' | date:'EEEE, d MMMM - H:mm':'':'pl'}}</strong>
        <!-- Jest undefined, ale wylapuje to w .ts -->
      </h5>
    </mat-grid-tile>

    <mat-grid-tile colspan="5" rowspan="3">
      <div clas="align-vertically">
        <h6 *ngIf="userData?.email===null">
          <mat-icon class="icon-align" class="smallicon">email</mat-icon> fake@email.ru
        </h6>
        <h6 *ngIf="userData?.email!==null">
          <mat-icon class="icon-align" class="smallicon">email</mat-icon> {{userData?.email}}
        </h6>

        <h6 *ngIf="userData?.phone===null">
          <mat-icon class="icon-align" class="smallicon">phone</mat-icon> 07008888
        </h6>
        <h6 *ngIf="userData?.phone!==null">
          <mat-icon class="icon-align" class="smallicon">phone</mat-icon> {{userData?.phone}}
        </h6>

        <h6 *ngIf="userData?.gender===null">
          <!--Płeć: Nie podano-->
        </h6>
        <h6 *ngIf="userData?.gender==='female'">Płeć: kobieta</h6>
        <h6 *ngIf="userData?.gender==='male'">Płeć: meżczyzna</h6>
        <!--<mat-icon class="icon-align" class="smallicon" *ngIf="userData?.gender===null">mdi-gender-transgender</mat-icon> mdi-gender-female mdi-gender-male-->
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="10" rowspan="2">

      <h5> </h5>
      <h5 class="text-truncate">
        <mat-icon class="icon-align">pin_drop</mat-icon>
        <strong>{{routeDetails?.from?.city?.name}}</strong>
        <span *ngIf="routeDetails?.from?.placeOfMeeting!==null">, ul. {{routeDetails?.from?.placeOfMeeting}} </span>
        <span *ngIf="routeDetails?.from?.placeOfMeeting===null">, ul. Krucza 44 </span>
        <br/>
      </h5>
    </mat-grid-tile>

    <mat-grid-tile colspan="5" rowspan="{{numberOfStops+6}}">
      <div class="align-vertically">
        <h5>
          <mat-icon class="icon-align">stars</mat-icon>
          <strong>4.5/5.0</strong>
        </h5>
        <h5>
          Miejsca:
          <strong> {{routeDetails?.numberOfOccupiedSeats}}/{{routeDetails?.numberOfSeats}} </strong>
        </h5>
        <h5>
          Koszt:
          <strong> {{routeDetails?.price}} </strong> zł
        </h5>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="12" rowspan="1" *ngIf="routeDetails?.stops===null">
      <div class="align-vertically" *ngIf="routeDetails?.stops===null">
        <!--<p class="fontcolor-gray"> Brak przystanków po drodze. </p>-->
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="{{numberOfStops+1}}" *ngIf="routeDetails?.stops!==null">
      <div class="align-vertically" *ngIf="routeDetails?.stops!==null">
        <h5 class="fontcolor-gray">Czas </h5>
        <p class="text-truncate" class="smalltext" *ngFor="let stop of routeDetails?.stops">
          <mat-icon class="icon-align" class="smallicon">alarm</mat-icon>
          <span class="fontcolor-gray" *ngIf="stop!==null">
            {{stop.date | date:'d MMMM - H:mm':'':'pl'}}
          </span>
          <span class="fontcolor-gray" *ngIf="stop===null">
            {{'2018-05-13T21:55:00+0000' | date:'d MMMM - H:mm':'':'pl'}}
          </span>
        </p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="8" rowspan="{{numberOfStops+1}}" *ngIf="routeDetails?.stops!==null">
      <div class="align-vertically" *ngIf="routeDetails?.stops!==null">
        <h5 class="fontcolor-gray">Przystanki </h5>
        <p class="text-truncate" class="smalltext" *ngFor="let stop of routeDetails?.stops">
          <mat-icon class="icon-align" class="smallicon">pin_drop</mat-icon>
          <span class="fontcolor-gray" *ngIf="stop!==null">
            <strong> {{stop.city.name}} </strong>, ul. {{stop.placeOfMeeting}}
          </span>
          <span class="fontcolor-gray" *ngIf="stop===null">
            <strong> Fake_stop </strong>, ul. Fake_street 60
          </span>
        </p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="10" rowspan="2">
      <h5>
        <mat-icon class="icon-align">pin_drop</mat-icon>
        <strong>{{routeDetails?.to?.city?.name}}</strong>
        <span *ngIf="routeDetails?.to?.placeOfMeeting!==null">, ul. {{routeDetails?.to?.placeOfMeeting}} </span>
        <span *ngIf="routeDetails?.to?.placeOfMeeting===null">, ul. Wiślana 60 </span>
      </h5>
    </mat-grid-tile>
    <mat-grid-tile colspan="10" rowspan="1" class="border-bottom">
      <h5>
        <mat-icon class="icon-align">alarm</mat-icon>
        <strong *ngIf="routeDetails?.to.date!==null">{{routeDetails?.to.date | date:'EEEE, d MMMM - H:mm':'':'pl'}}</strong>
        <strong *ngIf="routeDetails?.to.date===null">{{ '2018-05-13T23:45:00+0000' | date:'EEEE, d MMMM - H:mm':'':'pl'}}</strong>
      </h5>
    </mat-grid-tile>
    <mat-grid-tile colspan="10" rowspan="1">
      <p class="fontcolor-gray">
        <mat-icon class="icon-align" class="transparent-icon">alarm</mat-icon>
        ( szacowany czas przyjazdu )
      </p>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>