<mat-card *ngIf="isDataReady">
  <mat-grid-list cols="7" rowHeight="35px" gutterSize="0px">

    <mat-grid-tile colspan="2" rowspan="4" class="right-border">
      <img class="img-circle" *ngIf="sanitizedPhoto" [src]="sanitizedPhoto" width="100px" height="100px" />
      <img class="img-circle" *ngIf="!sanitizedPhoto" src="../../../assets/logo-sm.png" width="100px" height="100px" />
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="3" style="text-align: center;">
      <h4>
        Miejsca:
        <br/>
        <strong class=" text-primary"> {{routeDetails?.numberOfOccupiedSeats}} / {{routeDetails?.numberOfSeats}} </strong>
      </h4>
    </mat-grid-tile>

    <mat-grid-tile colspan="2 " rowspan="3">
      <h4 style="text-align: center; ">
        Cena:
        <br/>
        <strong class="text-primary "> {{routeDetails?.price}} zł</strong>
      </h4>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="7 " class="top-border">
      <div class="align-vertically">
        <h5 class="fontcolor-gray ">Czas </h5>

        <p class="text-truncate bottom-border ">
          <mat-icon class="icon-align" class="smallicon">alarm</mat-icon>
          <span class="fontcolor-gray">
            <strong class="text-info "> {{routeDetails?.from.date | date:'d MMMM - H:mm':'':'pl'}} </strong>
          </span>
        </p>
        <p class="text-truncate" class="smalltext " *ngFor="let stop of routeDetails?.stops ">
          <mat-icon class="icon-align" class="smallicon">alarm</mat-icon>
          <span class="fontcolor-gray">
            <strong>{{stop.date | date:'d MMMM - H:mm':'':'pl'}}</strong>
          </span>
        </p>
        <p class="text-truncate" *ngIf="routeDetails.stops.length == 0">
          <mat-icon class="icon-align" class="smallicon ">alarm</mat-icon>
          <span class="fontcolor-gray">
            <strong class="text-info"> {{routeDetails?.to.date | date:'d MMMM - H:mm':'':'pl'}} </strong>
          </span>
        </p>
        <p class="text-truncate top-border" *ngIf="routeDetails.stops.length != 0">
          <mat-icon class="icon-align" class="smallicon ">alarm</mat-icon>
          <span class="fontcolor-gray">
            <strong class="text-info"> {{routeDetails?.to.date | date:'d MMMM - H:mm':'':'pl'}} </strong>
          </span>
        </p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="7" class="top-border ">

      <div class="align-vertically">
        <h5 class="fontcolor-gray">Przystanki </h5>
        <p class="text-truncate bottom-border">
          <mat-icon class="icon-align" class="smallicon ">pin_drop</mat-icon>
          <span class="fontcolor-gray">
            <strong class="text-info"> {{routeDetails?.from.city.name}} , ul. {{routeDetails?.from.placeOfMeeting}} </strong>
          </span>
        </p>
        <p class="text-truncate" class="smalltext" *ngFor="let stop of routeDetails?.stops">
          <mat-icon class="icon-align" class="smallicon">pin_drop</mat-icon>
          <span class="fontcolor-gray">
            <strong> {{stop.city.name}} , ul. {{stop.placeOfMeeting}} </strong>
          </span>
        </p>
        <p class="text-truncate" *ngIf="routeDetails.stops.length == 0">
          <mat-icon class="icon-align" class="smallicon">pin_drop</mat-icon>
          <span class="fontcolor-gray">
            <strong class="text-info"> {{routeDetails?.to.city.name}} , {{routeDetails?.to.placeOfMeeting}} </strong>
          </span>
        </p>
        <p class="text-truncate top-border" *ngIf="routeDetails.stops.length != 0">
          <mat-icon class="icon-align" class="smallicon">pin_drop</mat-icon>
          <span class="fontcolor-gray">
            <strong class="text-info"> {{routeDetails?.to.city.name}} , {{routeDetails?.to.placeOfMeeting}} </strong>
          </span>
        </p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3" style="text-align: center" class="right-border bottom-border">
      <h4>
        {{userData?.firstName}} {{userData?.lastName}}
      </h4>
    </mat-grid-tile>



    <mat-grid-tile colspan="2" rowspan="2" class="right-border">
      <h5 class="align-left">
        <mat-icon class="icon-align">stars</mat-icon>
        <strong>{{userData?.rate || 0}}/5.0</strong>
      </h5>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="2" class="right-border">
      <h6 class="align-left">
        <mat-icon class="icon-align" class="smallicon">email</mat-icon> {{userData?.email}}
      </h6>
    </mat-grid-tile>

    <mat-grid-tile colspan="5" rowspan="2" class="top-border">
      <h4>Uwagi od kierowcy:</h4>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="2" class="right-border">
      <h5 class="align-left">
        <mat-icon class="icon-align " class="smallicon ">phone</mat-icon> {{userData?.phone}}
      </h5>
    </mat-grid-tile>

    <mat-grid-tile colspan="5" rowspan="4">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3" class="right-border">
      <div class="align-left">
        <button *ngIf="!isOwner" mat-icon-button matTooltipShowDelay="100" matTooltip="Skontaktuj się" matTooltipPosition="above">
          <mat-icon>phone_iphone</mat-icon>
        </button>
        <button *ngIf="!isOwner" mat-icon-button matTooltipShowDelay="100" matTooltip="Zarezerwuj" matTooltipPosition="above">
          <mat-icon>content_paste</mat-icon>
        </button>
        <button *ngIf="!isOwner" mat-icon-button matTooltip="Dodaj do obserwowanych" matTooltipPosition="above">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</mat-card>