.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.spinner {
    margin-top: 20px;
    display: flex;
}

.container {
  display: flex;
  flex-direction: column;
}

mat-card {
  border-radius: 25px;
}

mat-card:hover {
  box-shadow: 0 10px 6px -6px black;
}

::ng-deep .gal-snack .mat-simple-snackbar {
  color: deeppink;
  font-size: 20px;
  padding: 10px;
}

