.loginContainer {
    text-align: center;
    margin-top: 5%;
}

::placeholder {
    text-align: center;
}

.formContainer {
    margin: auto;
    align-items: center;
    width: 15%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}