<mat-card>
  <div class="container">
    <form #form="ngForm">
      <div class="row center">
        <mat-form-field>
          <input matInput [(ngModel)]="userModel.login" name="login" required #loginRef="ngModel" placeholder="Login" />
          <mat-error *ngIf="loginRef.invalid">Wpisz poprawny login!</mat-error>
        </mat-form-field>
      </div>

      <div class="row center">
        <mat-form-field>
          <input matInput [(ngModel)]="userModel.password" type="password" name="password" required #passRef="ngModel" placeholder="Hasło"
          />
          <mat-error *ngIf="passRef.invalid">Wpisz poprawne hasło!</mat-error>
        </mat-form-field>
      </div>
      <div class="row center">
        <button mat-raised-button class="hoverable" type="submit" [disabled]="!form.valid" (click)="onSubmit()">
          Zaloguj
        </button>
      </div>
      <div class="row center">
        <mat-spinner class="spinner" [diameter]="40" [style.display]="showSpinner ? 'inline' : 'none'"></mat-spinner>
      </div>
    </form>
  </div>
</mat-card>