<div class="loginContainer">
  <h3></h3>

  <div class="formContainer">
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    Login: 
    <input 
    type="text" 
    ngModel
    name="login"/>
    <br/>

    Hasło: 
    <input 
    type="password" 
    ngModel
    name="pass"/>
    <br/>

    <input class="loginSubmit" type="submit" value="Zaloguj" />
  </form>
  </div>
  <br/>  
  <h4><em>PLACEHOLDER (fejs)</em></h4>
  <h4>Nie masz jeszcze konta? <strong><a href="register">Zarejestruj się</a></strong></h4>

  
</div>