<div class="loginContainer">
  <h3></h3>

  

  <div class="formContainer">
  <form (ngSubmit)="onSubmit()" #form="ngForm">

    <!-- TODO: 
               validation error messages
               describe the information expected by the form input e.g. "Name" in the first input and "Password" in the second to avoid adding labels (use ng-touched?)
               add the facebook login process
               add some visual sugar
    -->

    Login: 
    <input 
    type="text" 
    [(ngModel)]="login"
    name="login"
    required/>
    <br/>

    Hasło: 
    <input 
    type="password" 
    [(ngModel)]="pass"
    name="pass"
    required/>
    <br/>

    <input class="btn btn-primary" style="width: 100%" type="submit" value="Zaloguj" [disabled]="!form.valid" />
  </form>
  </div>
  <br/>
  <h4><em>PLACEHOLDER (fejs)</em></h4>
  <h4>Nie masz jeszcze konta? <strong><a href="register">Zarejestruj się</a></strong></h4>

  
</div>