<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/">
      <img class="logo" src="../../assets/logo-sm.png"> Give a lift
    </span>

    <span class="nav-spacer"></span>

    <button mat-icon-button routerLink="" *ngIf="loggedIn">
      <mat-icon>notifications</mat-icon>
      <span></span>
    </button>
    <button mat-raised-button color="primary" routerLink="/login" *ngIf="!loggedIn">Zaloguj się</button>
    <button mat-raised-button color="primary" routerLink="/register" *ngIf="!loggedIn">Nie masz konta?</button>
    <button mat-raised-button color="primary" routerLink="/new-ride" *ngIf="loggedIn">Dodaj przejazd</button>

    <button *ngIf="loggedIn" mat-button [matMenuTriggerFor]="dropdownMenu">
      <mat-icon>menu</mat-icon>{{user?.firstName}} {{user?.lastName}}
    </button>

    <mat-menu #dropdownMenu="matMenu">
      <button mat-menu-item routerLink="profile">
        <mat-icon>person</mat-icon>
        <span>Mój profil</span>
      </button>
      <button mat-menu-item routerLink="ride-list">
        <mat-icon>directions_car</mat-icon>
        <span>Przejazdy</span>
      </button>
      <button mat-menu-item routerLink="" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Wyloguj</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>