<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/">
      <img class="logo" src="../../assets/logo-sm.png"> Give a lift
    </span>

    <span class="nav-spacer"></span>

    <button mat-button [matMenuTriggerFor]="notificationMenu" *ngIf="loggedIn" (click)="resetTitle()">
      <mat-icon class="white-icon">notifications</mat-icon>
      <span *ngIf="notifications.length> 0" class="badge badge-pill badge-light">{{notifications.length}}</span>
    </button>

    <mat-menu #notificationMenu="matMenu" yPosition="below" overlapTrigger="false">
      <app-notification *ngFor="let notification of notifications" [notification]="notification"></app-notification>
    </mat-menu>


    <span class="nav-secondary-spacer"></span>
    <button mat-raised-button color="primary" routerLink="/login" *ngIf="!loggedIn">Zaloguj się</button>
    <button mat-raised-button color="primary" routerLink="/register" *ngIf="!loggedIn">Nie masz konta?</button>
    <button mat-raised-button color="primary" routerLink="/new-route" *ngIf="loggedIn">Dodaj przejazd</button>

    <button *ngIf="loggedIn" mat-button [matMenuTriggerFor]="dropdownMenu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #dropdownMenu="matMenu" yPosition="below" overlapTrigger="false">
      <button mat-menu-item routerLink="profile/edit">
        <mat-icon>person</mat-icon>
        <span>Mój profil</span>
      </button>
      <button mat-menu-item routerLink="profile/routes">
        <mat-icon>directions_car</mat-icon>
        <span>Moje przejazdy</span>
      </button>
      <button mat-menu-item routerLink="/" (click)="logout()">
        <mat-icon svgIcon="logout "></mat-icon>
        <span>Wyloguj</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>