<mat-card>
  <mat-grid-list cols="9" rows="3" rowHeight="33px" gutterSize="0px">
    <mat-grid-tile colspan="3" rowspan="1">
      <div class="align-vertically">
        <h5>
          <strong>{{subData?.subName}}</strong>
        </h5>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <div class="align-vertically">
        <h5>
          <strong>{{subData?.from}}</strong>
        </h5>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <div class="align-vertically">
        <h5>
          <strong>{{subData?.to}}</strong>
        </h5>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
