mat-card {
  margin-top: 30px;
  min-width: 700px;
  border-radius: 25px;
}

mat-grid-tile .align-left {
  position: absolute;
  left: 5px;
}

mat-icon {
  position: relative;
  top: 3px;
}

.top-border {
  border-top: 1px dashed gray;
}

.right-border {
  border-right: 1px dashed gray;
}

mat-grid-tile .align-vertically {
  position: absolute;
  top: 10px;
}

/* mat-grid-tile {
  border: dashed gray 1px;
} */

mat-form-field {
  width: 200px !important;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.pointer {
  cursor: pointer;
}

::ng-deep .gal-snack .mat-simple-snackbar {
  color: deeppink;
  font-size: 20px;
  padding: 10px;
}
