<mat-card>
  <form #form1="ngForm">
    <mat-grid-list cols="3" rowHeight="35px" gutterSize="0px">

      <mat-grid-tile rowspan="4">
        <img *ngIf="sanitizedPhoto" [src]="sanitizedPhoto" alt="" width="124px" height="124px"/>
        <img *ngIf="!sanitizedPhoto" src="../../../assets/logo-sm.png" width="100px" height="100px"/>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="2" class="right-border">
        <h4>Dane osobowe</h4>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="2">
        <h4>Dane logowania</h4>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="2" class="right-border">
        <mat-form-field>
          <input matInput [(ngModel)]="userModel.firstName" name="firstName" required #firstNameRef="ngModel" placeholder="Imię" />
          <mat-error *ngIf="firstNameRef.invalid">Wpisz poprawne imię!</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="2">
        <mat-form-field>
          <input matInput [(ngModel)]="userModel.email" name="email" required email #emailRef="ngModel" placeholder="Email" />
          <mat-error *ngIf="emailRef.invalid">Wpisz poprawne imię!</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile rowspan="2">
        <input id="file" name="file" type="file" #fileInput placeholder="" class="file-input" (change)="onSelectFile($event)" />
        <button mat-raised-button type="button">
          <label class="pointer" for="file">Wybierz obraz</label>
        </button>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="2" class="right-border">
        <mat-form-field>
          <input matInput [(ngModel)]="userModel.lastName" name="lastName" required #lastNameRef="ngModel" placeholder="Nazwisko" />
          <mat-error *ngIf="lastNameRef.invalid">Wpisz poprawne nazwisko!</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="2">
        <mat-form-field>
          <input matInput [(ngModel)]="userModel.password" name="password" type="password" #passRef="ngModel" placeholder="Hasło" />
          <mat-error *ngIf="passRef.invalid">Wpisz poprawne hasło!</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile rowspan="2">
        <button mat-raised-button class="hoverable" type="button" (click)="upload()">
          Zmień
        </button>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="2" class="right-border">
        <mat-form-field>
          <input matInput name="birthYear" [max]="today" [matDatepicker]="picker" placeholder="Data urodzenia" #dateRef="ngModel" [(ngModel)]="userModel.birthYear">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="dateRef.invalid">Wybierz datę!</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="2">
        <mat-form-field>
          <input matInput type="password" [(ngModel)]="passConfirm" name="passConfirm" #passConfirmRef="ngModel" placeholder="Potwierdź hasło"
          />
          <mat-error *ngIf="passConfirmRef.value != passRef.value">Wpisz poprawne hasło!</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile rowspan="2">

      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="2" class="right-border">
        <mat-form-field>
          <input matInput [(ngModel)]="optionalInfo.car" name="car" #carRef="ngModel" placeholder="Samochód" />
          <mat-error *ngIf="carRef.invalid">Wpisz poprawną nazwę!</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="2">
        <button mat-raised-button [disabled]="!form1.valid" (click)="updateUser()">
          Zapisz
        </button>
      </mat-grid-tile>

      <mat-grid-tile colspan=" 3 " rowspan="6" class="top-border">
        <mat-form-field appearance="outline" style="width: 85% !important">
          <textarea name="bio" matInput class=".textarea" [(ngModel)]="optionalInfo.bio" rows="4" placeholder="Coś o sobie "></textarea>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </form>
</mat-card>
