mat-card {
    width: 100%;
    border-radius: 25px;
    margin-top: 20px;
    opacity: 1;
}

mat-card.favouriteRouteStyle {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  opacity: 50;
}

.align-left {
    position: absolute;
    text-align: left;
}

.show-on-hover button {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

mat-card:hover button {
    display: block;
    animation: fadeIn 0.25s;
}

mat-card:hover {
    box-shadow: 0 5px 4px -4px black;
    transform: scale(1.025);
    transition: all 0.25s;
}

button {
    transition: all 0.5s;
}

button:hover {
    color: white;
}

.border-bottom {
    border-bottom: dashed gray 1px;
}

.icon-align {
    position: relative;
    top: 3px;
}


.align-vertically {
    margin-top: 5px;
}




/* .borders {
    border-left: dashed gray 1px;
    border-right: dashed gray 1px;
}

mat-grid-tile {
    border: dashed gray 1px;
} */
