<mat-card>
  <mat-grid-list cols="8" rows="5" rowHeight="33px" gutterSize="0px">
    <mat-grid-tile colspan="3" rowspan="1">
      <div class="align-vertically">
        <h5>
          <strong>{{userData?.firstName}} {{userData?.lastName}}</strong>
        </h5>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1" class="border-bottom">
      <h4>
        <mat-icon class="icon-align">alarm</mat-icon>
        <strong>{{routeData?.from.date | date:'EEEE, d MMMM - H:mm':'':'pl'}}</strong>
      </h4>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="5">
      <div class="show-on-hover">
        <button mat-icon-button matTooltipShowDelay="100" matTooltip="Skontaktuj się" matTooltipPosition="right">
          <mat-icon>phone_iphone</mat-icon>
        </button>
        <button mat-icon-button matTooltipShowDelay="100" matTooltip="Zarezerwuj" matTooltipPosition="right">
          <mat-icon>content_paste</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Dodaj do obserwowanych" matTooltipPosition="right">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Szczegóły" matTooltipPosition="right" (click)="redirectToRouteDetails()">
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="3">
      <a (click)="goToUserPage()" class="profile-hover">
        <img class="img-circle" *ngIf="sanitizedPhoto" [src]="sanitizedPhoto" width="90px" height="90px" />
        <img class="img-circle" *ngIf="!sanitizedPhoto" src="../../../assets/logo-sm.png" width="100px" height="100px" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <h5 class="text-truncate">
        <mat-icon class="icon-align">directions_car</mat-icon>
        {{routeData?.from?.city?.name}} &#10145; {{routeData?.to?.city?.name}}
      </h5>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="4">
      <h4>
        <strong>
          <p class="text-primary">{{routeData?.price}} zł</p>
        </strong>
      </h4>

    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="2">
      <h6 class="text-truncate">
        <mat-icon class="icon-align">pin_drop</mat-icon>
        <strong>{{routeData?.from?.city?.name}}</strong>, ul. {{routeData?.from?.placeOfMeeting}}
        <br/>
        <mat-icon class="icon-align">pin_drop</mat-icon>
        <strong>{{routeData?.to?.city?.name}}</strong>, ul. {{routeData?.to?.placeOfMeeting}}
      </h6>
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="1">
      <h6 class="text-primary">
        Ocena:
        <strong>{{userData?.rate || 0}}/5.0</strong>
      </h6>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <h6 class="text-primary text-center">
        Miejsca:
        <strong>{{routeData?.numberOfOccupiedSeats}}/{{routeData?.numberOfSeats}}</strong>
      </h6>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>