<!-- <div class="row">
    <div *ngIf="loggedIn" class="col-md-2">
      <app-dashboard> </app-dashboard>
    </div> -->

<div [ngClass]="'col-md-12'" class="text-center">
  <h1>
    Witaj w {{ title }}!
  </h1>
  <h2>Załap się na przejazd w każdej chwili, gdziekolwiek.</h2>

</div>
<!-- TODO: extract below container into separate component -->
<div class="container">
  <div class="row">
    <h4 class="col-xs-12">Szukaj przejazdu</h4>
  </div>
  <div class="row">
    <div class="col-xs-2">

      <app-city-search #from></app-city-search>
    </div>
    <div class="col-xs-2">
      <app-city-search #to></app-city-search>
    </div>
    <div class="class col-xs-2">
      <div class="city-search">
        <input type="submit" class="btn btn-info btn-sm" value="Szukaj" (click)="search()">
      </div>
    </div>
  </div>
    <app-ride-list [hidden]="!wasButtonClicked" [rides]="foundRides"></app-ride-list>
</div>
<!-- </div> -->