<mat-card>
    <nav mat-tab-nav-bar label="profile-tab">
        <a mat-tab-link routerLinkActive #rlaRoute="routerLinkActive" [active]="rlaRoute.isActive" routerLink='routes'>
            Przejazdy
        </a>
        <a mat-tab-link routerLinkActive #rlaInfo="routerLinkActive" [active]="rlaInfo.isActive" routerLink='edit'>
            Edytuj profil
        </a>
        <a mat-tab-link routerLinkActive #rlaFavouriteRoutes="routerLinkActive" [active]="rlaFavouriteRoutes.isActive" routerLink='fav-routes'>
            Obserwowane przejazdy
        </a>
        <a mat-tab-link routerLinkActive #rlaSubscriptions="routerLinkActive" [active]="rlaSubscriptions.isActive" routerLink='subs'>
            Obserwowane połączenia
        </a>
    </nav>
</mat-card>
<router-outlet></router-outlet>
