<div class="registerContainer">
  <h3></h3>

  <div class="formContainer">
    <form (ngSubmit)="onSubmit()" #form="ngForm">

      <!-- radio buttons? -->

      <select>
        <option disabled selected>Płeć</option>
        <option>Mężczyzna</option>
        <option>Kobieta</option>
      </select>


      <!-- Group the form -->
      <div class="form-box">
        <input type="text" name="firstname" [(ngModel)]="userModel.firstname" required id="text1" #firstRef="ngModel" placeholder="Imię"
        />

        <input type="text" name="lastname" [(ngModel)]="userModel.lastname" required id="text1" #lastRef="ngModel" placeholder="Nazwisko"
        />
        <div *ngIf="!lastRef.valid && !firstRef.valid && lastRef.touched && firstRef.touched" class="alert alert-danger">Wpisz poprawne imię i nazwisko!</div>
        <br/>
      </div>

      <input type="text" name="login" [(ngModel)]="userModel.login" required #loginRef="ngModel" placeholder="Login" />
      <div *ngIf="!loginRef.valid && loginRef.touched" class="alert alert-danger">Wpisz poprawny login!</div>
      <br/>

      <input type="password" name="mail" [(ngModel)]="userModel.email" required email #emailRef="ngModel" placeholder="Email" />
      <div *ngIf="!emailRef.valid && emailRef.touched" class="alert alert-danger">Wpisz poprawny email!</div>
      <br/>

      <input type="password" name="pass" [(ngModel)]="userModel.pass" required #passRef="ngModel" placeholder="Hasło" />æ
      <div *ngIf="!passRef.valid && passRef.touched" class="alert alert-danger">Wpisz poprawne hasło!</div>
      <br/>

      <input type="password" name="passConfirm" [(ngModel)]="passConfirm" required #passConfirmRef="ngModel" placeholder="Potwierdź hasło">
      <div *ngIf="passConfirmRef.value!=passRef.value && passConfirmRef.touched && passRef.touched" class="alert alert-danger">Hasła nie zgadzają się!</div>
      <br/>


      <input class="btn btn-primary" style="width: 100%" type="submit" value="Zarejestruj" [disabled]="!form.valid || passRef.value!=passConfirmRef.value"
      />
    </form>
  </div>
  <br/>
  <h4>
    <em>PLACEHOLDER (fejs)</em>
  </h4>


</div>