.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}
  
.spinner { 
      margin-top: 20px;
      display: flex;
}
  
.container {
    display: flex;
    flex-direction: column;
}

.inline-form-field {
    margin-left: 10px;
    margin-right: 10px;
}

mat-card {
    border-radius: 25px;
}

mat-radio-button {
    margin-right: 10px;
    margin-left: 10px;
}

mat-card:hover {
    box-shadow: 0 10px 6px -6px black;
  }