<mat-card>
  <div class="container">
    <form #form="ngForm">
      <div class="row center">
        <mat-radio-group>
          <mat-radio-button value="Mężczyzna">Mężczyzna</mat-radio-button>
          <mat-radio-button value="Kobieta">Kobieta</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="row center">
        <mat-form-field class="inline-form-field">
          <input matInput [(ngModel)]="userModel.firstName" name="firstname" required #firstRef="ngModel" placeholder="Imię" />
          <mat-error *ngIf="firstRef.invalid ">Wpisz poprawne imię!</mat-error>
        </mat-form-field>
        <mat-form-field class="inline-form-field">
          <input matInput [(ngModel)]="userModel.lastName" name="lastname" required #lastRef="ngModel" placeholder="Nazwisko" />
          <mat-error *ngIf="lastRef.invalid ">Wpisz poprawne nazwisko!</mat-error>
        </mat-form-field>
      </div>

      <div class="row center">
        <mat-form-field>
          <input matInput [(ngModel)]="userModel.email" name="mail" required email #mailRef="ngModel" placeholder="Email" />
          <mat-error *ngIf="mailRef.invalid">Wpisz poprawnego maila!</mat-error>
        </mat-form-field>
      </div>

      <div class="row center">
        <mat-form-field>
          <input matInput [(ngModel)]="userModel.phone" name="phone" required #phoneRef="ngModel" placeholder="Numer telefonu" pattern="^\+?[1-9]{1}[0-9]{3,14}$"
          />
          <mat-error *ngIf="phoneRef.invalid">Wpisz poprawny numer telefonu!</mat-error>
        </mat-form-field>
      </div>

      <div class="row center">
        <mat-form-field>
          <input matInput type="password" [(ngModel)]="userModel.password" name="pass" required #passRef="ngModel" placeholder="Hasło"
          />
          <mat-error *ngIf="passRef.invalid">Wpisz poprawne hasło!</mat-error>
        </mat-form-field>
      </div>

      <div class="row center">
        <mat-form-field>
          <input matInput type="password" [(ngModel)]="passConfirm" name="passConfirm" required #passConfirmRef="ngModel"
            placeholder="Potwierdź hasło" />
            <!-- TODO: doesnt work for some reason in material. fix -->
          <mat-error *ngIf="passConfirmRef.value != passRef.value">Wpisz poprawne hasło!</mat-error>
        </mat-form-field>
      </div>

      <div class="row center">
        <button mat-raised-button type="submit" [disabled]="!form.valid" (click)="onSubmit()">
          Zaloguj
        </button>
      </div>

      <div class="row center">
        <mat-spinner class="spinner" [diameter]="40" [style.display]="showSpinner ? 'inline' : 'none'"></mat-spinner>
      </div>
    </form>
  </div>
</mat-card>